.card {
  transition: transform 300ms, box-shadow 300ms;
}
.wrapperLink {
  display: block;
  text-decoration: none;
}
.wrapperLink:active {
  outline: none;
}
.card:hover,
.wrapperLink:active .card {
  transform: scale(1.03);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.rowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2px;
}

.amenitiesContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.addressContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.newListed {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 0.33em;
  font-size: 1.1em;
}

.columnHeader {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0.33em;
  font-size: 1.2em;
}

.text {
  margin-left: 0.5em;
}
.textBold {
  font-weight: bold;
}
