.card {
  transition: transform 300ms, box-shadow 300ms;
}
.wrapperLink {
  text-decoration: none;
}
.wrapperLink:active {
  outline: none;
}
.card:hover,
.wrapperLink:active .card {
  transform: scale(1.03);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.rowContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2px;
}

.amenitiesContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.addressContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.newListed {
  display: flex;
  align-content: center;
  justify-content: center;
  color: #189ab4;
  font-family: Roboto;
}

.text {
  margin-left: 5px;
  font-size: 1.2em;
  color: #05445e;
  font-family: Roboto;
  font-weight: lighter;
}
.textBold {
  margin-left: 20px;
  font-size: 1.2em;
  color: #05445e;
  font-family: Roboto;
  font-weight: bolder;
}

.priceText {
  display: flex;

  margin-right: 20px;
  font-size: 1.2em;
  color: #05445e;
  font-family: Roboto;
}

.textTitle {
  display: flex;
  justify-content: center;
  color: #05445e;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 15px;
  font-size: 1.4em;
  font-family: Roboto;
}
